<h2 class="bg-light mx-5 w-25">ログイン</h2>
<p class="bg-light mx-5 w-25">会員の方はこちらからログイン</p>
  <div class="container text-center">
    <%= form_with model: @customer, url: customer_session_path do |f| %>
      <table class="table table-borderless mt-5">
        <tr>
          <th>メールアドレス</th>
          <td>
            <%= f.email_field :email, autocomplete: "email" %>
          </td>
        </tr>
        <tr>
          <th>パスワード</th>
          <td>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td>
            <%= f.submit "ログイン", class: "btn btn-primary" %>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
